<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>

<body>
	<table id="example2" class="table table-bordered table-hover" border="1">
    <tbody><tr>
        <td rowspan="2" style="vertical-align: middle; font-weight: bold;color: #000;">序号</td>
        <td rowspan="2" align="center" style="vertical-align: middle;font-weight: bold;color: #000;">用户名</td>
        <td rowspan="2" align="center" style="vertical-align: middle;font-weight: bold;color: #000;">姓名</td>
        <td rowspan="2" align="center" style="vertical-align: middle;font-weight: bold;color: #000;">手机号</td>
        <td rowspan="2" align="center" style="vertical-align: middle;font-weight: bold;color: #000;">累计年出借金额</td>
        <td rowspan="2" align="center" style="vertical-align: middle;font-weight: bold;color: #000;">奖品</td>
        <td rowspan="2" align="center" style="vertical-align: middle;font-weight: bold;color: #000;">获得条件</td>
        <td rowspan="2" align="center" style="vertical-align: middle;font-weight: bold;color: #000;">奖品状态</td>
        <td colspan="3" style="font-weight: bold;">收货地址</td>
    </tr>
    <tr>
        <td>姓名</td>
        <td>电话</td>
        <td>收货地址</td>
    </tr>
    <tr>
        <td style="vertical-align: middle;">293</td>
        <td style="vertical-align: middle;">13911691027</td>
        <td style="vertical-align: middle;">李振亚</td>
        <td style="vertical-align: middle;">13911691027</td>
        <td style="vertical-align: middle;">487,800.00</td>
        <td class="border_bottom" style="padding: 0;">
            <p>IphoneX(64G)</p>
            <p>华为 P20(6G+64G)</p>
            <p>小米MIX 2S(6G+64G)</p>
        </td>
        <td class="border_bottom" style="padding: 0;">
            <p>累计年出借金额400,000元</p>
            <p>累计年出借金额7,000元</p>
            <p>累计年出借金额15,000元</p>
        </td>
        <td class="border_bottom" style="padding: 0;">
            <p> 已中奖 </p>
            <p> 未获奖 </p>
            <p> 未获奖 </p>
        </td>
        <td style="vertical-align: middle;">李振亚</td>
        <td style="vertical-align: middle;">13911691027</td>
        <td style="vertical-align: middle;">洛克时代中心1610</td>
    </tr>
    <tr>
        <td style="vertical-align: middle;">292</td>
        <td style="vertical-align: middle;">13699209363</td>
        <td style="vertical-align: middle;">李双艳</td>
        <td style="vertical-align: middle;">13699209363</td>
        <td style="vertical-align: middle;">208,100.00</td>
        <td class="border_bottom" style="padding: 0;">
            <p>米家IH电饭煲4L</p>
            <p>米家血压器</p>
        </td>
        <td class="border_bottom" style="padding: 0;">
            <p>累计年出借金额7,000元</p>
            <p>累计年出借金额15,000元</p>
        </td>
        <td class="border_bottom" style="padding: 0;">
            <p> 未获奖 </p>
            <p> 未获奖 </p>
        </td>
        <td style="vertical-align: middle;"></td>
        <td style="vertical-align: middle;"></td>
        <td style="vertical-align: middle;"></td>
    </tr>
    <tr>
        <td style="vertical-align: middle;">501</td>
        <td style="vertical-align: middle;">13240361944</td>
        <td style="vertical-align: middle;">杨铭</td>
        <td style="vertical-align: middle;">13240361945</td>
        <td style="vertical-align: middle;">7,253,800.00</td>
        <td class="border_bottom" style="padding: 0;">
            <p>新小米移动电源2</p>
            <p>米家IH电饭煲4L</p>
            <p>华为 P20(6G+64G)</p>
        </td>
        <td class="border_bottom" style="padding: 0;">
            <p>累计年出借金额400,000元</p>
            <p>累计年出借金额7,000元</p>
            <p>累计年出借金额7,000元</p>
        </td>
        <td class="border_bottom" style="padding: 0;">
            <p> 未获奖 </p>
            <p> 未获奖 </p>
            <p> 未获奖 </p>
        </td>
        <td style="vertical-align: middle;"></td>
        <td style="vertical-align: middle;"></td>
        <td style="vertical-align: middle;"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
